*/build-intel/**
build-intel/
build-intel/**
build-intel/*
*.xcodeproj
xcuserdata/
build/
.build/
DerivedData/
.env
.DS_Store
*.xcworkspace
*.swp
*~
Extensions/whatsapp-web/provider/node_modules/
tmp/*
